<h1>Edit Trip</h1>

<%= render partial: "layouts/error-messages", locals: {model: @trip } %>
<%= render @trip %>
</table>

<%= form_for @trip do |f| %>

  <%= f.label :driver, "Change Driver" %>
  <%= f.select :driver_id, Driver.all.map{ |driv| [driv.name, driv.id] } %>

  <%= f.label :rating, "Edit Rating" %>
  <%= f.number_field :rating %>

  <%= f.submit %>
<% end %>
