<h1>Edit Trip</h1>

<%= render partial: "layouts/error-messages", locals: {model: @trip } %>
<%= render @trip %>
</table>

<%= form_for @trip do |f| %>


  <% f.hidden_field :passenger_id %>
  <% f.hidden_field :driver_id %>
  <% f.hidden_field :date %>

  <%= f.label :rating%>
  <%= f.number_field :rating %>
  <% f.hidden_field :cost %>

  <%= f.submit %>
<% end %>
