<h2>Driver Details</h2>
<section class="info-box">

  <article >
    <h3>Name: </h3>
    <%= @driver.name %>

    <h3>Total Earnings: </h3>
    <%= "$ #{@driver.total_earnings}" %>

    <h3>Average Rating: </h3>
    <%= @driver.average_rating.round(1) %>
  </article>

  <ul>
  <li><%= link_to "Edit", edit_driver_path(@driver) %><li>
  <li><%= link_to("Delete", driver_path(@driver.id), method: :delete, data: { confirm: "Are you sure you want to delete: #{ @driver.name }? \nThis will also delete all the driver's trips." }) %></li>
  <ul>
</section>

<section class="trips">
  <h3> Driver Trips</h3>
  <%= render partial: "layouts/trip-list", locals: {model: @driver} %>

</section>
