<h2>Details for driver <%= @driver.name %></h2>
<section class="info-box">
  <article>
    <h4>Total Earnings:</h4>
    <%= "$ #{@driver.total_earnings}" %>
  </article>
  <article>
    <h4>Average Rating:</h4>
    <%= @driver.average_rating.round(1) %>
  </article>
  <%= link_to "Edit", edit_driver_path(@driver) %>
  <%= link_to("Delete", driver_path(@driver.id), method: :delete, data: { confirm: "Are you sure you want to delete: #{ @driver.name }?" }) %>
</section>
<section class="trips">
  <table>
    <th>Driver Trips</th>
  <tr>
    <th>Trip ID</th>
    <th>Date</th>
    <th>Passenger</th>
    <th>Cost</th>
    <th>Rating</th>
  </tr>

<% @driver.trips.each do |trip| %>
  <tr>
    <td><%= link_to(trip.id, trip_path(trip))%></td>
    <td><%= trip.date.strftime("%m/%d/%Y") %></td>
    <% passenger = trip.passenger %>
    <td><%= link_to(passenger.name, passenger_path(passenger)) %></td>
    <td><%= "$ #{(trip.cost / 100).round(2)}" %></td>
    <td><%= trip.rating %></td>
  </tr>
<% end %>
</table>

<br>
</section>
