<!DOCTYPE html>
<html>
  <head>
    <title>Rideshare</title>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Noto+Sans" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <ul>
      <li><%= link_to "All Passengers", passengers_path %></li>
      <li><%= link_to "All Drivers", drivers_path %></li>
      <li><%= link_to "New Passenger", new_passenger_path %></li>
      <li><%= link_to "New Driver", new_driver_path %></li>
    </ul>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
