<!DOCTYPE html>
<html>
  <head>
    <title>Rideshare</title>

    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Noto+Sans" rel="stylesheet">
    <%= csrf_meta_tags %>
    <html lang="en" dir="ltr">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png'), rel: 'icon', type: 'image/png' %>
  </head>

  <nav class="main-navigation">
    <ul class="menu">
      <li><%= link_to "Home", root_path %></li>
      <li class="menu-item-has-children"><%= link_to "Passengers", passengers_path %>
      <ul class="sub-menu">
        <li><%= link_to "All Passengers", passengers_path %></li>
        <li><%= link_to "New Passenger", new_passenger_path %></li>
      </ul>
      </li>
      <li class="menu-item-has-children"><%= link_to "Drivers", drivers_path %>
      <ul class="sub-menu">
        <li><%= link_to "All Drivers", drivers_path %></li>
        <li><%= link_to "New Driver", new_driver_path %></li>
      </ul>
      </li>
    </ul>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
